<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conexion" providerName="MySql.Data.MySqlClient" connectionString="Server=179.43.126.9; Database=joyel_testing; uid=joyel_test; pwd=Inmobiliaria19; SslMode = none"/>
  </connectionStrings>
  
</configuration>