<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.String" connectionString="Server=179.43.126.9; Database=joyel_testing; uid=joyel_test; pwd=Inmobiliaria19; SslMode = none" />
    </connectionStrings>
</configuration>